<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cuenta - Klimarios</title>
    <link rel="stylesheet" href="./styles/styleOption.css">


    <script src="https://kit.fontawesome.com/f1749ebb6f.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="nose">
    <div class="form-structor">
      <form action="/configuracion" method="post" id="formReg">
          <div class="signup">
              <h2 class="form-title" id="signup">Configuracion</h2>
              <div class="form-holder" >

                  <!--  -->
                  <input type="text" name="ubicacion" id="input" class="input" placeholder="ubicacion">
                  <div>
                      <input type="checkbox" id="miElementoCheckbox" class="checkbox"> <span id="checkboxText">Tiene un Klimarios?</span> 
                  </div>
                  <div id="msg">
                      <input type="text" class="input Arduino" placeholder="Numero del arduino" style="display: none;" name="idAr" id="Arduino" />
                  </div>
                  <!-- <input type="checkbox" id="miElementoCheckbox">Stay signed in for a week -->

                  <!-- <div id="msg"></div> -->
              </div>
              <Span class="noFunciona" id="noFunciona" style="display: none;">No te funciona tu codigo? Envianos un mensaje</Span>
              <button class="submit-btn" type="submit">Configura</button>
          </div>
      </form>
    
    </div>
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;" id="form">
  <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="formbg-outer">

      <div class="formbg">
        <i class="fas fa-compress-arrows-alt fa-2x" id="cruz"></i>

        <div class="formbg-inner padding-horizontal--48">
          <span class="padding-bottom--15">Estas teniendo problemas con tu codigo arduino?</span>
          <form id="stripe-login">
            <div class="field padding-bottom--24">
              <label for="email">Tu corrreo</label>
              <input type="email" name="email" id="email">
            </div>
            <div class="field padding-bottom--24">
              <div class="grid--50-50">
                <label for="password">Mensaje</label>
              </div>
              <input type="text" name="text" id="message">
            </div>
            <div class="botton-div">
              <button onclick="sendmail()" type="button" id="botonenviar" class="button">ENVIAR</button>
          </div>
</form>
        </div>
      </div>
    </div>
  </div>
    </div>

  </div>





  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

    <script>
(function () {
    emailjs.init("user_jzR3ajQIIeAmGJaDHvzPU");
})();

function sendmail() {
  console.log("hola")
    let userEmail = document.getElementById("email").value;
    let userMessage = document.getElementById("message").value;

    var contactParams = {
        from_name: userMessage,
        from_tel: "0",
        message: userEmail,
        to_name: "Alvaro"
    }

        emailjs.send('service_y9i5rvb', 'template_3eh6ygj', contactParams).then(function (res) {console.log("hola")})
}

            var miCheckbox = document.getElementById('miElementoCheckbox');
            var msg = document.getElementById('Arduino');
            var mensaje = document.getElementById('noFunciona');
            var form = document.getElementById('form');  
            var formReg = document.getElementById('formReg');  
            var cruz = document.getElementById('cruz');  

            
            miCheckbox.addEventListener('click', function() {
                if(miCheckbox.checked) {
                msg.style.display = '';
                mensaje.style.display = '';
                } else {
                    msg.style.display = 'none';
                    mensaje.style.display = 'none';
                }
            });
            mensaje.addEventListener('click', function() {
              formReg.classList.toggle("moverFormReg");
              form.classList.toggle("moverForm");
            });

            cruz.addEventListener('click', function() {
              formReg.classList.toggle("moverFormReg");
              form.classList.toggle("moverForm");
            });

            // form.style.transform= "translateY(20px)";
            // formReg.style.transform= "translate(10%,250px)";

            // form.style.transform= "translateY(-600px)";
            // formReg.style.transform= "translate(50%,250px)";

    </script>

    <!-- partial -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="./jss/script.js"></script>


</body>

</html>